.footer {
	background-color: #fff;
	padding: 10px 0;
	
}

.footer ul li {
	margin-bottom: 16px;
	font-size: 15px;
	/* letter-spacing: 0.05em; */
}



.footer__contacts li a {
	font-weight: 10;
	color: #910707 !important;
	transition: all .5s;
	display: inline-block;
}

.footer__contacts li a:hover {
	color: #f40b0b !important;
    /* transform: scale(1.2); */
	transform: translateX(10px);
}

.footer .brand img {
	height: 100px !important;
}

.footer-brand-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



@media (max-width: 992px) {
	.footer {
		text-align: center;
	}

	.footer .brand {
		margin-bottom: 30px;
		display: block;
	}

	.footer__menu {
		margin-bottom: 15px !important;
	}

	.footer__contacts {
		margin-top: 15px;
	}

	.footer-brand-container {
		flex-direction: column;
	}

	.footer .brand img {
		height: unset !important;
	}
}